/* General Styling */

* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/disneybackground.jpg");
    font-family: 'Baloo Chettan', cursive;
}

.jumbotron {
    background: transparent;
}

#buttonsView {
    display: inline;
}

button {
    margin: 5px;
}

#requestedGifs {
    display: inline-block;
}

.gifs {
    display: inline;
    margin-right: 15px;
}
